<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"></ion-buttons>
    <ion-title class="edit-title" *ngIf="team">Edit {{ team.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="full" *ngIf="team">
    <ion-item>
      <ion-label position="fixed" color="primary">Team Name</ion-label>
      <ion-input required type="text" placeholder="Enter Team Name"
                 [(ngModel)]="team.name">
      </ion-input>
    </ion-item>
    
    <br>

    <ion-item>
      <ion-label position="fixed" color="primary">Primary Color</ion-label>
      <ion-input required type="text" placeholder="Enter Primary Color"
                  [(ngModel)]="team.primary_color">
      </ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label color="primary">Alternate Color</ion-label>
      <ion-input required type="text" placeholder="Enter Alternate Color"
                  [(ngModel)]="team.alternate_color">
      </ion-input>
    </ion-item>

    <br>

  </ion-list>
  <ion-row justify-content-center test-center>
    <ion-col col-md-4 col-xs-8>
      <ion-button class="save" color="success" (click)="updateTeam()">Save</ion-button>
    </ion-col>

    <ion-col col-md-4 col-xs-8>
      <ion-button color="danger" [routerLink]="['/team-details', teamID]">Cancel</ion-button>
    </ion-col>

  </ion-row>


</ion-content>
