<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start"></ion-buttons>
    <ion-title class="personal-info-title">
      Edit Profile
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>

  <div class="login-box">

    <form (ngSubmit)="editProfile()" #registerForm="ngForm">

      <ion-row>
        <ion-col>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed" color="primary">
                First Name
              </ion-label>
              <ion-input class="user-name" type="text" placeholder=" Enter First Name" name="firstname" [(ngModel)]="firstname" required>
              </ion-input>
            </ion-item>

            <br>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed" color="primary">
                Last Name
              </ion-label>
              <ion-input type="text" placeholder="Enter Last Name" name="lastname" [(ngModel)]="lastname" required>
              </ion-input>
            </ion-item>

            <br>

            <ion-item [hidden]="needVerification">
              <ion-label color="primary">
                Phone Number
              </ion-label>
              <ion-input type="text" placeholder="Enter Phone Number" name="phonenumber" [(ngModel)]="phonenumber" required>
              </ion-input>
            </ion-item>

            <br>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed" color="primary">
                Sex
              </ion-label>
              <ion-select placeholder="Select One" name="sex" [(ngModel)]="sex" required>
                <ion-select-option value="Female">Female</ion-select-option>
                <ion-select-option value="Male">Male</ion-select-option>
              </ion-select>
            </ion-item>

            <br>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed" color="primary">
                Email
              </ion-label>
              <ion-input type="text" placeholder="Enter Current Email To Make Modifications" name="email" [(ngModel)]="email" required>
              </ion-input>
            </ion-item>

            <br>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed" color="primary">
                Password
              </ion-label>
              <ion-input type="password" placeholder="Enter Current Password To Make Modifications" name="password" [(ngModel)]="password" required>
              </ion-input>
            </ion-item>

        </ion-col>
      </ion-row>

      <br>

      <ion-grid>
        <ion-row justify-content-center>

          <ion-col col-md-4 col-xs-8 class="signup-col">
            <ion-button ion-button color="success" class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">
              Update & Logout
            </ion-button>
          </ion-col>

          <ion-col col-md-4 col-xs-8 class="back-col">
            <ion-button ion-button color="danger" [routerLink]="['/home']">
              Back
            </ion-button>
          </ion-col>
          
        </ion-row>
      </ion-grid>

    </form>

  </div>

</ion-content>
