
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="login-title">
      Soccer Management - Sign In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form (ngSubmit)="login()" #registerForm="ngForm">

        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-label position="fixed">
                  Email
                </ion-label>
                <ion-input type="text" placeholder="Enter Email" name="email" [(ngModel)]="email" required></ion-input>
              </ion-item>

              <br>

              <ion-item>
                <ion-label position="fixed">
                  Password
                </ion-label>
                <ion-input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <ion-button ion-button color="success" class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">
              Login
            </ion-button>
          </ion-col>
          <ion-col class="register-col">
            <ion-button ion-button color="success" routerLink="/sign-up" routerDirection="forward">
              Register
            </ion-button>
          </ion-col>
        </ion-row>

      </form>

</ion-content>
