<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"></ion-buttons>
    <ion-title class="create-title">Create Team</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>

    <ion-item>
      <ion-label position="fixed">Team Name</ion-label>
      <ion-input required type="text" placeholder=" Enter Team Name"
                 [(ngModel)]="team.name">
      </ion-input>
      </ion-item>

  <br>

    <ion-item>
      <ion-label>Session Type</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="team.session_id">
        <ion-select-option value="1">Summer</ion-select-option>
        <ion-select-option value="2">Fall</ion-select-option>
        <ion-select-option value="3">Winter</ion-select-option>
        <ion-select-option value="4">Spring</ion-select-option>
      </ion-select>
    </ion-item>

  <br>

    <ion-item>
      <ion-label position="fixed">Primary Color</ion-label>
      <ion-input required type="text" placeholder="Enter Primary Color"
      [(ngModel)]="team.primary_color"></ion-input>
    </ion-item>

  <br>

    <ion-item>
      <ion-label>Alternate Color</ion-label>
      <ion-input required type="text" placeholder="Enter Alternate Color"
        [(ngModel)]="team.alternate_color"></ion-input>
    </ion-item>

  <br>

  <ion-row justify-content-center>
    <ion-col col-md-4 col-xs-8>
      <ion-button ion-button color="success" (click)="createTeam()">
        Ok
      </ion-button>
    </ion-col>

    <ion-col col-md-4 col-xs-8>
      <ion-button ion-button color="danger" routerLink="/home">
        Cancel
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
