<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Team</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="full">
    <ion-item> 
      <ion-input required type="text" placeholder="Team Name"
                 [(ngModel)]="team.name">
      </ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item id="session_id">
      <ion-label>Session Type</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="1">Summer</ion-select-option>
        <ion-select-option value="2">Fall</ion-select-option>
        <ion-select-option value="3">Winter</ion-select-option>
        <ion-select-option value="4">Spring</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <br>
    <ion-item>
      <ion-input required type="text" placeholder="Primary Color" 
        [(ngModel)]="team.primary_color"></ion-input> 
    </ion-item>
    <br>
    <br>
    <ion-item>
      <ion-input required type="text" placeholder="Alternate Color" 
        [(ngModel)]="team.alternate_color"></ion-input>
    </ion-item>
    <br>
    <br>
  </ion-list>

<div id=team-creation position="center">
  <ion-button shape="round" color="success" expand="full" (click)="createTeam()">Create</ion-button>
  <ion-button shape="round" color="danger" expand="full" href="/home">Cancel</ion-button>
</div>
</ion-content>