
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Soccer Management Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" padding>

  <div class="login-box">

    <form (ngSubmit)="register()" #registerForm="ngForm">

      <ion-row>
        <ion-col>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed">
                Email
              </ion-label>
              <ion-input type="text" placeholder="Enter Email" name="email" [(ngModel)]="email" required>
              </ion-input>
            </ion-item>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed">
                Password
              </ion-label>
              <ion-input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
              </ion-input>
            </ion-item>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed">
                First Name
              </ion-label>
              <ion-input type="text" placeholder=" Enter First Name" name="firstname" [(ngModel)]="firstname" required>
              </ion-input>
            </ion-item>

            <ion-item [hidden]="needVerification">
              <ion-label position="fixed">
                Last Name
              </ion-label>
              <ion-input type="text" placeholder="Enter Last Name" name="lastname" [(ngModel)]="lastname" required>
              </ion-input>
            </ion-item>

            <ion-item [hidden]="needVerification">
              <ion-label>
                Phone Number
              </ion-label>
              <ion-input type="text" placeholder="e.g. +12223334444" name="phonenumber" [(ngModel)]="phonenumber" required>
              </ion-input>
            </ion-item>

            <ion-item [hidden]="needVerification">
                <ion-label position="fixed">
                  Sex
                </ion-label>
                <ion-select placeholder="Select One" name="sex" [(ngModel)]="sex" required>
                  <ion-select-option value="Female">Female</ion-select-option>
                  <ion-select-option value="Male">Male</ion-select-option>
                </ion-select>
              </ion-item>

            <ion-item [hidden]="!needVerification">
              <ion-input type="text" placeholder="Verification Code" name="verificationcode"
                [(ngModel)]="verificationcode">
              </ion-input>
            </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">

          <ion-button ion-button color="success" class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">
            Register
          </ion-button>

        </ion-col>

        <ion-col class="back-col">
          <ion-button ion-button color="danger" [routerLink]="['/login']">
            Back
          </ion-button>
        </ion-col>
      </ion-row>

    </form>

  </div>

</ion-content>
