<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="edit-title">Edit Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="game">
  <ion-grid>

    <ion-item>
      <ion-label color="primary">Date</ion-label>
      <ion-datetime  displayFormat="YYYY-MM-DD" max="2030" [(ngModel)]="game.date">
        {{ game.date }}
      </ion-datetime>
    </ion-item>

    <br>

    <ion-item>
      <ion-label color="primary">Time</ion-label>
      <ion-datetime value="{{ game.time }}" displayFormat="hh:mm" [(ngModel)]="game.time">
        {{ game.time }}
      </ion-datetime>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="fixed" color="primary">Opponent</ion-label>
      <ion-input class="input" placeholder="Enter Opponent" [(ngModel)]="game.opponent"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="fixed" color="primary">Score</ion-label>
      <ion-input placeholder="Enter Score" [(ngModel)]="game.score"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-label position="fixed" color="primary">Location</ion-label>
      <ion-input placeholder="Enter Location" [(ngModel)]="game.location"></ion-input>
    </ion-item>

    <br>

  <ion-row justify-content-center test-center>
    
    <ion-col col-md-4 col-xs-8>
      <ion-button class="save" color="success" (click)="handleSaveButtonClick()">Save</ion-button>
    </ion-col>

    <ion-col col-md-4 col-xs-8>
      <ion-button color="danger" [routerLink]="['/game-details', gameID]">Cancel</ion-button>
    </ion-col>

  </ion-row>
</ion-grid>
</ion-content>
