<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="user-title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let team of teamList">
    <ion-item class="team" button [routerLink]="['/team-details', team.team_id]">
      <ion-label>{{ team.name }} - {{ team.primary_color }}</ion-label>
      <ion-badge *ngIf="team.manager_id == user.idToken.payload['cognito:username']">
        <ion-icon name="star"></ion-icon>
      </ion-badge>
    </ion-item>
  </ion-list>

  <div id=team-creation position="center">
    <ion-button class="create-team" shape="round" color="primary" expand="full" routerLink="/create-team">
      Create Team
    </ion-button>

    <ion-button class="join-team" shape="round" color="primary" expand="full" routerLink="/join-team">
      Join Team
    </ion-button>

    <ion-button class="personal-info" shape="round" color="primary" expand="full" routerLink="/edit-profile">
      Personal Info
    </ion-button>
  </div>

</ion-content>
