<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start"></ion-buttons>
      <ion-title *ngIf="team">{{ team.name }}</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

    <!-- TODO: look into *ngFor (see home.page.html for an example) -->
    <ion-title>Upcoming Games</ion-title>
    <ion-list *ngFor="let team of teamGames">
      <ion-item button [routerLink]="['/team-details', team.team_id]">
        <ion-label>Playing against {{ team.opponent }} at {{ team.time }} on {{ team.date }}</ion-label>
      </ion-item>
    </ion-list>

    <br>

    <ion-title>Team Information</ion-title>
    <br>
    <ion-list lines="full" *ngIf="team">
      <ion-item>
        Primary Color: {{ team.primary_color }}
      </ion-item>
      <br>
      <br>
      <ion-item>
        Alternate Color: {{ team.alternate_color }}
      </ion-item>
      <br>
      <br>
    </ion-list>
  
    <div id=team-creation position="center">
      <ion-button shape="round" color="primary" expand="full">Add Player</ion-button>
      <ion-button shape="round" color="primary" expand="full" routerLink="/add-game">Add Game</ion-button>
    </div>
    <ion-grid>
    <ion-row justify-content-center>
        <ion-col col-md-4 col-xs-8>
          <ion-button ion-button color="success" [routerLink]="['/edit-team', teamID]">
            Edit</ion-button>
        </ion-col>

        <ion-col col-md-4 col-xs-8>
          <ion-button ion-button color="danger" routerLink="/home">
            Back
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
